stm_cube/en.stm32cubef4.zip
stm_cube/STM32Cube_FW_F4_V1.14.0/Documentation/
stm_cube/STM32Cube_FW_F4_V1.14.0/Drivers/CMSIS/DSP_Lib/Examples/
stm_cube/STM32Cube_FW_F4_V1.14.0/Drivers/CMSIS/Documentation/
stm_cube/STM32Cube_FW_F4_V1.14.0/Middlewares/
stm_cube/STM32Cube_FW_F4_V1.14.0/Projects/*/Applications
stm_cube/STM32Cube_FW_F4_V1.14.0/Projects/*/Demonstrations
stm_cube/STM32Cube_FW_F4_V1.14.0/Projects/*/Examples
stm_cube/STM32Cube_FW_F4_V1.14.0/Utilities/

online_projects/*.zip
online_projects/work/f411/**/BUILD/

cc2564/cc2564_bluetopia_stack.zip
cc2564/sdk/v4.0.2.2/NoOS/Documentation/
cc2564/sdk/v4.0.2.2/FreeRTOS/Documentation/
cc2564/sdk/v4.0.2.2/FreeRTOS/STM3240G-EVAL/Samples/SPPDemo/build/
cc2564/sdk/v4.0.2.2/FreeRTOS/STM3240G-EVAL/Samples/SPPMbedDemo/build/
cc2564/sdk/v4.0.2.2/FreeRTOS/STM3240G-EVAL/Samples/HTPDemo/build/

freertos/FreeRTOSv9.0.0.zip
freertos/FreeRTOSv9.0.0/FreeRTOS/Demo/
freertos/FreeRTOSv9.0.0/FreeRTOS-Plus/Demo/

stm_spl/en.stm32f4_dsp_stdperiph_lib.zip
stm_spl/STM32F4xx_DSP_StdPeriph_Lib_V1.7.1/stm32f4xx_dsp_stdperiph_lib_um.chm
stm_spl/STM32F4xx_DSP_StdPeriph_Lib_V1.7.1/Libraries/CMSIS/Documentation/
stm_spl/STM32F4xx_DSP_StdPeriph_Lib_V1.7.1/Libraries/CMSIS/DSP_Lib/Examples/
stm_spl/STM32F4xx_DSP_StdPeriph_Lib_V1.7.1/Project/STM32F4xx_StdPeriph_Examples

online_projects/work/f411/cubemx_adc_dma/Drivers/
online_projects/work/f411/cubemx_adc_dma/build/

rust_test/test_lib/target/
